@charset "utf-8";
/************************************/
/*		Datepicker Style CSS		*/
/*		Created at 2015/12/07		*/
/************************************/


#ui-datepicker-div {
    border-radius: 5px;
    padding: 4px 8px;
    box-shadow: 0 2px 5px -1px #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, '微軟正黑體';
	}

#ui-datepicker-div .ui-widget-header {
    border: none;
    background: #FFFFFF;
    color: #333;
    font-weight: bold;
	}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev-hover, 
#ui-datepicker-div .ui-widget-header .ui-datepicker-next-hover {
    top: 2px;
	}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev-hover {
    left:2px;
	}
	
#ui-datepicker-div .ui-widget-header .ui-datepicker-next-hover {
    right:2px;
	}
	
#ui-datepicker-div .ui-widget-header .ui-icon-circle-triangle-w {
	background-position:-96px 0px;
	}

#ui-datepicker-div .ui-widget-header .ui-icon-circle-triangle-e {
	background-position:-32px 0px;
	}
	
#ui-datepicker-div .ui-widget-header .ui-corner-all {
	border:1px solid #B3B3B3;
	border-radius:20px;
	cursor:pointer;
	}

#ui-datepicker-div td {
    padding: 2px;
}


#ui-datepicker-div .ui-state-default {
    border: 1px solid #DDD;
	background:#FFFFFF;
    font-weight: normal;
    color: #454545;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
	}
	
#ui-datepicker-div .ui-datepicker-today .ui-state-default {
    border: 1px solid #DDD;
	background:#FFFFFF;
    font-weight: normal;
    color: #454545;
    text-align: center;
    padding: 8px;
	}
	
#ui-datepicker-div .ui-datepicker-week-end .ui-state-default {
	border: 1px solid #DDD;
	color:#37A1E8;
	}
	
#ui-datepicker-div .ui-state-hover {
	background:#F1F1F1;
	}

#ui-datepicker-div .ui-state-highlight,
#ui-datepicker-div .ui-datepicker-today .ui-state-highlight {
	border: 1px solid #37A1E8;
    color: #37A1E8;
    box-shadow: 0 0 0 1px #37A1E8 inset;
	}



#ui-datepicker-div .datepicker_inner .ui-state-default {
	background:#e6f5ff;
	}

#ui-datepicker-div .datepicker_from,
#ui-datepicker-div .datepicker_end {
	position: relative;
	}
	
#ui-datepicker-div .datepicker_from .ui-state-default,
#ui-datepicker-div .datepicker_end .ui-state-default {
	background:#37A1E8;
	border-color:#37A1E8;
	color: #FFFFFF;
	position: relative;
	font-weight:bold;
	}



#ui-datepicker-div .datepicker_from .ui-state-default:after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 7px;
	border-color: transparent transparent transparent #37A1E8;
	position: absolute;
	z-index:1;
	top: 0;
	right: -7px;
}

#ui-datepicker-div .datepicker_end .ui-state-default:after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 7px 15px 0;
	border-color: transparent #37A1E8 transparent transparent;
	position: absolute;
	z-index: 0;
	top: 0;
	left: -7px;
}

#ui-datepicker-div .datepicker_inner_from .ui-state-default:hover,
#ui-datepicker-div .datepicker_inner_end .ui-state-default:hover {
	position: relative;
	border-color:#1a77b5;
	box-shadow: 0 0 0 1px #1a77b5 inset;
}

#ui-datepicker-div .datepicker_inner_from .ui-state-default:hover:before,
#ui-datepicker-div .datepicker_inner_end .ui-state-default:hover:before {
    position: absolute;
    z-index: 1;
    top: -30px;
    left: -30px;
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background: #1a77b5;
    color: #FFF;
    font-size: 12px;
	}


#ui-datepicker-div .datepicker_inner_from .ui-state-default:hover:before {
	content: "選擇入住日期";
}

#ui-datepicker-div .datepicker_inner_end .ui-state-default:hover:before {
	content: "選擇退房日期";
	}


#ui-datepicker-div .datepicker_inner_from .ui-state-default:hover:after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 7px;
	border-color: transparent transparent transparent #1a77b5;
	position: absolute;
	z-index:2;
	top: 0;
	right: -7px;
}

#ui-datepicker-div .datepicker_inner_end .ui-state-default:hover:after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 7px 15px 0;
	border-color: transparent #1a77b5 transparent transparent;
	position: absolute;
	z-index:2;
	top: 0;
	left: -7px;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    padding: 5px 8px;
}